@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Oleo+Script+Swash+Caps&display=swap');

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Fredoka One', sans-serif;
  font-weight: 400;
  height: 100vh;
  width: 100%;
  color: #333;
  background-image: -webkit-gradient(
    linear,
    right bottom,
    left top,
    from(#474aff),
    to(#b5b4ff)
  );
  background-image: -o-linear-gradient(bottom right, #474aff 0%, #b5b4ff 100%);
  background-image: linear-gradient(to top left, #474aff 0%, #b5b4ff 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
}

a {
  text-decoration: none;
  color: cyan;
}

a:hover {
  color: #c7365f;
}

/* LAYOUT */
main {
  position: relative;
  width: 100rem;
  height: 80vh;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(200px);
  backdrop-filter: blur(200px);
  -webkit-filter: blur();
  filter: blur();
  -webkit-box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.2);
  border-radius: 9px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.player {
  -webkit-box-flex: 50%;
  -ms-flex: 50%;
  flex: 50%;
  padding: 9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.75s;
  -o-transition: all 0.75s;
  transition: all 0.75s;
  opacity: 0.3;
}

/* FOOTER */

footer {
  margin-top: 2vh;
  margin-bottom: 1.5vh;
  width: 100%;
  color: white;
}

footer p {
  font-size: 1.5rem;
  text-align: center;
}

/* ELEMENTS */
.name {
  position: relative;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: 300;
  margin-bottom: 1rem;
}

.score {
  font-size: 8rem;
  font-weight: 300;
  color: #c7365f;
  margin-bottom: auto;
}

.player--active {
  background-color: rgba(255, 255, 255, 0.7);
  opacity: 1;
}

.player--active .score {
  font-weight: 400;
}

.total {
  position: relative;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300;
}

.current {
  background-color: #c7365f;
  border-radius: 9px;
  color: #fff;
  width: 65%;
  padding: 2rem;
  text-align: center;
  -webkit-transition: all 0.75s;
  -o-transition: all 0.75s;
  transition: all 0.75s;
}

.current-label {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 1.7rem;
}

.current-score {
  font-size: 3.5rem;
}

/* ABSOLUTE POSITIONED ELEMENTS */
.btn {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  color: #444;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1.8rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;

  background-color: white;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);

  padding: 0.7rem 2.5rem;
  border-radius: 50rem;
  -webkit-box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}

.btn--new {
  top: 4rem;
}
.btn--roll {
  top: 39.3rem;
}
.btn--hold {
  top: 46.1rem;
}

.btn:active {
  -webkit-transform: translate(-50%, 3px);
  -ms-transform: translate(-50%, 3px);
  transform: translate(-50%, 3px);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn:focus {
  outline: none;
}

.dice {
  position: absolute;
  left: 50%;
  top: 16.5rem;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 10rem;
  -webkit-box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
}

.player--winner {
  background-color: #2f2f2f;
}

.player--winner .name {
  font-weight: 700;
  color: #c7365f;
}

.hidden {
  display: none;
}

@media screen and (max-width: 1024px) {
  body {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    background-image: none;
    background-color: #474aff;
    height: 110vh;
  }
  main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    overflow: initial;
    width: 100%;
    height: 100%;
  }
  section {
    width: 100%;
    height: 50vh;
  }

  footer p {
    font-size: 1.5rem;
  }

  .current-label {
    font-size: 1rem;
  }
  .current-score {
    font-size: 2.5rem;
  }

  .name {
    font-size: 3.5rem;
  }

  .current {
    width: auto;
    padding: 1rem;
  }

  .score {
    font-size: 5rem;
  }

  .player--0 {
    padding-top: 1.5rem;
  }

  .player--1 {
    padding-top: 6rem;
    padding-bottom: 1.5rem;
  }

  .dice {
    /* top: 38.5rem; */
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50%;
    left: 70%;
  }

  .btn {
    left: 25%;
    padding: 0.5rem 1.5rem;
    font-size: 1.5rem;
  }

  .btn--new {
    /* top: 37rem; */
    top: 40.5%;
  }

  .btn--roll {
    /* top: 42rem; */
    top: 47.5%;
  }

  .btn--hold {
    /* top: 47rem; */
    top: 54.5%;
  }
}
